<table class="battleship_grid">
	<!-- Letters row -->
	<tr>
		<th></th>
	<% letters = ('A'..'J').to_a
	   letters.each do |letter| %>
		<th><%= letter %></th>
	<% end %>

	</tr>
	<!-- /Letters row -->

	<%
		letters.length.times do |current_number|
	%>
	<!-- numbers/actual grid rows -->
	<tr>
		<th><%= current_number + 1 %></th>
	<%
			letters.each do |letter|
				coordinate = letter + (current_number + 1).to_s
				cell = @board.grid[coordinate]
				display = @board.print_home_grid_symbol(cell.content)
				play_display = @opponentsboard.print_away_grid_symbol(cell.content)

	%>
		<td id="<%= coordinate %>">
			<% if cell.shot_at? %>
				<%= play_display %>
			<% else %>
				<%= display %>
			<% end %>
		</td>
	<%
			end
	%>
	</tr>
	<!-- /numbers/actual grid rows -->
	<%
		end
	%>
</table>